<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url( '<%= image_path 'bar.jpg' %>' );">
  <div class="container">
    <h1>Najboljši koktejl recepti na enem mestu!</h1>
    <p>Najdi najljubši koktejl svojega prijatelja in objavi svojega!</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-5">
    <h1>Vsi koktejli</h1>
  </div>
  <div class="row justify-content-space-between mt-5">
      <% @cocktail.each do |cocktail| %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
            <div class="card-description">
              <p> <%= cocktail.name %> </p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
