<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-8 kartica shadow">
      <h2>Dodaj koktejl</h2>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, label: "Ime koktejla" %>
        <button type="submit" class="btn btn-primary btn-dodaj-koktejl"><%= f.button :submit,"Dodaj koktejl"%></button>
        <%#= f.button :submit, label: "Dodaj koktejl", class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
</div>
