// Specific CSS for your home-page

.btn-dodaj-index {
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
}

h1, h2 {
  word-spacing: 5px;
  letter-spacing: 1px;
}

p {
  color: #585858;
}

.input-najdi {
  border-radius: 20px;
  // width: 520px;
}

.input-bar {
  position: relative;
}

.search-button {
  position: absolute;
  left: 70%;
  margin: 4px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
}
