.picture-show-cocktail {
  margin: 40px 0;
  height: 400px;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.main {
  // margin-top: 50px;
  padding-top: 10px;
  border-radius: 6px;
}

.merica h1 {
  font-size: 25px;
  margin: 20px 0;
}

.merica {
  padding: 0;
  margin: 40px 0;
}

#btn-dodaj > input {
  color: white !important;
}

.recept {
  padding: 40px;
  margin: 40px 40px;
  background-color: white;
  border-radius: 4px;
}
