
    <%= simple_form_for([ @cocktail, @review ]) do |f| %>
      <%= f.input :content, as: :text, label: "Dodaj komentar:" %>
      <%= f.input :rating, collection: 1..5, label: "Ocena:" %>
      <button type="submit" id="btn-dodaj" class="btn btn-primary btn-dodaj-koktejl"><%= f.button :submit,"Komentiraj"%></button>
      <%#= f.button :submit %>
    <% end %>
